@charset "UTF-8";

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14pt;
}

.std-border {
   border: 3px solid black;
   border-radius: 5px;
   margin: 5px;
}

.sty-main-panel {
   /* the main box (body) occupies all the visible area */
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;

   /* eliminate margins etc. */
   margin: 0px;
   padding: 0px;
   border-width: 0px;

   display: flex;
   flex-direction: column;
}

.sty-control-panel {
   flex: 10%;
   max-height: 48px;
   display: flex;
   flex-direction: row;
}

.control-button {
   flex: 10%;
   max-width: 48px;
   max-height: 48px;
   margin-right: 10px;
}

.sty-work-panel {
   flex: 90%;
   height: 90%;
   max-height: 90%;
   height: 100%;
   display: flex;
}

@media (orientation: landscape) {
   .work-panel {
      flex-direction: row;
   }
}

@media (orientation: portrait) {
   .work-panel {
      flex-direction: column;
   }
}

.sty-knot-panel {
   flex: 90%;
   max-height: 100%;
}

.sty-player-panel {
   flex: 10%;
   max-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.player-item {
   max-width: 100%;
}

h1 {
   text-align: center;
}

.alert-message {
   font-size: 20pt;
   color: blue;
   font-weight: bold;
}

.central-buttons {
   display: flex;
   flex-direction: row;
   max-width: 100%;
   justify-content: center;
}

/* Panel Left Picture (template) */
/*********************************/

.panel-left-pict {
   display: flex;
   flex-direction: row;
   flex: 100%;
   max-height: 100%;
   width: 100%;
}

.panel-left-pict-image {
   /*
   flex-basis: auto;
   max-height: 100%;
   width: auto;
   */
}

.panel-left-pict-image img {
   max-height: 100%;
}

.panel-left-pict-text {
   /* flex: 70%; */
}

/* Presentation (template) */
/***************************/

.template-presentation {
   display: flex;
   flex-direction: row;
   font-size: 20pt;
   width: 100%;
}

.template-presentation img, .template-presentation dcc-trigger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Tablet (template) */
/*********************/

.template-tablet {
   width: 100%;
   height: 100%;
   
   position: relative;
   animation-name: template-tablet-displacement;
   animation-duration: 2s;
   background-image: url(../images/tablet.svg);
   background-repeat: no-repeat;
   background-size: 100% 100%;   
}

@keyframes template-tablet-displacement {
   from {left: 100%;}
   to {left: 0%;}
}

.template-tablet-inside {
   display: flex;
   flex-direction: column;
   font-size: 20pt;
   width: 100%;
   height: 100%;
   
   padding: 100px;
}

.template-tablet-inside img, .template-tablet-inside dcc-trigger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Selector (template) */
/***********************/

.template-selector {
   width: 100%;
   height: 100%;
   
   background-image: url(../images/tablet.svg);
   background-repeat: no-repeat;
   background-size: 100% 100%;   
}

.template-selector-inside {
   width: auto;
   height: 90%;
   
   padding: 30px 120px 0px 70px;
   overflow: scrool;
   font-size: 12pt;
}

.template-selector-inside img, .template-selector-inside dcc-trigger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
