<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>{title}</title>
	
	<meta name="description" id="description" content="[Presentation]"/>
	
    <link title="Standard Stylesheet" rel="stylesheet" type="text/css" href="css/standard.css">
    <link title="Standard Stylesheet" rel="stylesheet" type="text/css" href="css/main-start.css">
    <link title="Standard Stylesheet" rel="stylesheet" type="text/css" href="css/page.css">
    <link title="Standard Stylesheet" rel="stylesheet" type="text/css" href="css/page-start.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">

    <script type="text/javascript" src="js/page.js"></script>
</head>

<body>

<div class="panel_presentation">
  <div class="panel_case">
    <div class="case_title">List of Cases</div>
    <table class="case_list case_text">
      <tr>
        <td>{image}</td>
        <td><a href="{firstKnot}.html" onclick="buildCase('{firstKnot}')">{title}</a></td>
        <td>{description}</td>
      </tr>
    </table>
  </div>
</div>

</body>
</html>

