<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Control Panel</title>
	
    <link title="Standard Stylesheet" rel="stylesheet" type="text/css" href="css/standard.css">
    <link title="Standard Stylesheet" rel="stylesheet" type="text/css" href="css/main-stage.css">
    <link title="Standard Stylesheet" rel="stylesheet" type="text/css" href="css/control-panel.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">

    <script type="text/javascript" src="js/page.js"></script>
</head>

<body>

<div class="control-panel">
  <div class="control-icon"><img src="images/icon-details.svg"></div>
  <div class="control-icon"><img src="images/icon-hypothesis.svg"></div>
  <div class="control-icon"><img src="images/icon-advisor.svg"></div>
</div>

</body>
</html>

