<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>{title}</title>
	
	<meta name="description" id="description" content="[Presentation]"/>
	
    <link title="Standard Stylesheet" rel="stylesheet" type="text/css" href="css/standard.css">
    <link title="Standard Stylesheet" rel="stylesheet" type="text/css" href="css/main-start.css">
    <link title="Standard Stylesheet" rel="stylesheet" type="text/css" href="css/page.css">
    <link title="Standard Stylesheet" rel="stylesheet" type="text/css" href="css/page-start.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">

    <script type="text/javascript" src="js/page.js"></script>
</head>

<body>

<div class="panel_presentation">
  <!--
  <div class="panel_image">
    <img class="image_presentation" src="{image}"></img>
  </div>
  -->

  <div class="panel_case">
    <div class="case_title">{title}</div>

    <div class="case_text">
{description}
    </div>
    
    <!--
    <input type="text" id="name"></input>
    
    <h2>Score: <span id="score"></span></h2>
    
    <div class="case_link">
        <span id="action_ok"><a href="#" onclick="startGame()">Ok</a></span>
        <span id="action_start"></span>
    </div>
    -->
    
  </div>
</div>

</body>
</html>

