<div class="panel_presentation">
  <div class="panel_image">
    <img class="image_presentation" src="images/entrance.jpg"></img>
  </div>

  <div class="panel_case">
    <div class="case_title">{title}</div>

    <div id="request-email" type="hidden">
      Inform your e-mail: <input type='text' id="emailInput"></input>
      <div class="case_link"><a href="#" onclick="userLogin()">Sign in</a></div>
      <div class="case_link"><a href="register.html" onclick="register()">Register</a></div>
    </div>

    <div id="invalid-email" type="hidden">Invalid e-mail.</div>

    <div id="signed-user" type="hidden">
      <div id="inform-email" >E-mail: </div>
      <div class="case_link" id="proceed"><a href='{firstKnot}.html' onclick='signIn()'>Start</a></div>
      <div class="case_link" id="changeUser"><a href='presentation.html' onclick='changeUser()'>Change User</a></div>
    </div>

    <!--
    <input type="text" id="name"></input>
    
    <h2>Score: <span id="score"></span></h2>
    
    <div class="case_link">
        <span id="action_ok"><a href="#" onclick="startGame()">Ok</a></span>
        <span id="action_start"></span>
    </div>
    -->
    
  </div>
</div>