@charset "UTF-8";

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14pt;
}

.std-border {
   border: 1px solid lightgray;
   border-radius: 5px;
   margin: 5px;
}

.author-panel {
   /* the main box (body) occupies all the visible area */
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;

   /* eliminate margins etc. */
   margin: 0px;
   padding: 0px;
   border-width: 0px;

   display: flex;
   flex-direction: column;
}

.control-panel {
   flex: 48px;
   max-height: 48px;
   display: flex;
   flex-direction: row;
}

.control-button {
   flex: 48px;
   max-width: 48px;
   max-height: 48px;
   margin-right: 10px;
}

.work-panel {
   width: 100%;
   height: 100%;
   flex: auto;
   display: flex;
}

@media (orientation: landscape) {
   .work-panel {
      flex-direction: row;
   }
}

@media (orientation: portrait) {
   .work-panel {
      flex-direction: column;
   }
}

.sty-navigation-panel {
   flex: 15%;
   max-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: scroll;
}

.navigation-knot {
   max-width: 100%;
}

.sty-knot-panel {
   flex: 85%;
}