@CHARSET "UTF-8";

body {
    font-family: Raleway;
}

.panel_presentation {
	position: absolute;
    top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: row;
    color: #383f4f;
}

.panel_image {
	width: auto;
	height: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.image_presentation {
	position: relative;
    width: auto;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: transparent;
}

.panel_case {
    width: auto;
	height: auto;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.case_title {
	position: relative;
	float: top;
	width: 100%;
	height: auto;
	padding: 30px;
	font-size: 24pt;
}

.case_text {
	font-size: 18pt;
	padding: 30px;
}

.alert_message {
	color: red;
}

.case_list {
  border: solid;
}

/* case link */
/* --------- */

.case_link {
	color: #e0e9ce;
	text-align: center;
	width: 300px;
	height: 30px;
	margin-left: auto;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #383f4f;
    font-size: 16pt;
}

.case_link a:link {
	color: #e0e9ce;
    text-decoration: none;
}

.case_link a:visited {
	color: #e0e9ce;
    text-decoration: none;
}

.case_link a:hover {
	color: #e0e9ce;
    text-decoration: none;
}

/* selectable items */
/* ---------------- */

.case_link {
	background-color: #999999;
}

/* Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}