@charset "UTF-8";

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0px;
    background-color: #383f4f;
}

/* panels */
/* ------ */

.panel_north {
	position: relative;
    width: 100%;
    height: 100px;
    overflow: auto;
    color: #383f4f;
    background-color: #c4ad9d;
}

.panel_south {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 120px;
    overflow: auto;
    margin: 0px;
    background-color: #7C5F3E;
}

/* main menu */
/* --------- */
.main_menu
{
  	position: relative;
	float: right;
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 16pt;
    color: #383f4f;
}

.main_menu a:link {
	color: #383f4f;
    text-decoration: none;
}

.main_menu a:visited {
	color: #383f4f;
    text-decoration: none;
}

.main_menu a:hover {
	color: #383f4f;
    text-decoration: none;
}

.main_menu hr {
  border: 1px solid;
}

/* home item */
/* --------- */

.home_item {
    position: relative;
	float: left;
	height: 50px;
	margin: 10px;
    font-size: 24pt;
}

.home_item a:link {
	color: #383f4f;
    text-decoration: none;
}

.home_item a:visited {
	color: #383f4f;
    text-decoration: none;
}

.home_item a:hover {
	color: #383f4f;
    text-decoration: none;
}

/* bottom controls */
/* --------------- */

.bottom_controls {
   height: auto;
   font-size: 12pt;
   color: white;
   text-align: center;
   overflow: hidden;
}

/* iFrames */
/* ------- */

.iframe_render {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
}

.iframe-