notebook==5.7.0
quilt
# scikit-learn==0.19.1
scipy
pandas

# extensions for ipywidgets and python-markdown (see https://github.com/binder-examples/jupyter-extension)
numpy
matplotlib
ipywidgets
jupyter_contrib_nbextensions

# extension for Spacy using English language (en_core_web_sm)
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#en_core_web_sm

# extension for SPARQLWrapper
SPARQLWrapper
